html {
  scroll-behavior: smooth;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 20px rgba(145, 167, 180, 0.6);
  }
  50% {
    box-shadow: 0 0 40px rgba(145, 167, 180, 0.8);
  }
  100% {
    box-shadow: 0 0 20px rgba(145, 167, 180, 0.6);
  }
}
